<div class="poster">
<h1>WELLCOME TO OUR STORE !!!</h1>
    <h4>Best, qualitative, cheapest goods for you and your family.</h4>
    <br>
    <a class="btn btn-primary" href="{{ twigLink('tree') }}">View the CATALOG</a>
</div>
