<div class="col-md-6">
    <h2 align="center">Список категорий товаров</h2>
    <br>
    <ul>
        {% for cat in cats %}
            <li><b>{{ cat['name'] }}</b> ({{ cat['notice'] }}) <a class="pull-right"
                href="{{ twigLink('item_category', {'id': cat['id']}) }}">перейти...</a>
            </li>
        {% endfor %}
    </ul>
</div>