<h2> ITEMS MAIN LIST </h2>
<br>
<ul>
    {% for cat in cats %}
        <li>{{ cat['name'] }} - {{ cat['notice'] }} - <a
                    href="{{ twigLink('item_category', {'id': cat['id']}) }}">link</a></li>
    {% endfor %}
</ul>