<h3 class="cat_string1">Catalog (mobile version)</h3>
<div class="col-xs-1 col-md-3"></div>
<div class="col-xs-10 col-md-6">
    <br>
    <table class="catalog" width="100%">
        {% for cat in cats %}
            <tr>
                <td>
                    <b>{{ cat['name'] }}</b> ({{ cat['notice'] }})
                </td>
                <td>
                    <a class="pull-right btn btn-primary btn-xs"
                       href="{{ twigLink('item_category', {'id': cat['id']}) }}">view category...</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="col-xs-1 col-md-3"></div>