<script src="/js/tree.js"></script>
<div id="tree_item_show" class="hide">
<div class="col-lg-6 col-md-6 col-xs-12">
    <p class="row cat_string1"><b><span id="tree_name"></span></b><i> (<span id="tree_notice"></span>)</i></p>
    <b>Item № <span id="tree_id"></span></b>
    <ul id="tree_list"></ul>
    <h4><b>Price: <span id="tree_price"></span></b></h4>
    <br>
    <div align="center"><img class="img-responsive" style="max-height: 300px;" id="tree_image" src="" /></div>
    <br>
    <div align="center">
    {% if SESSION_id == false %}
        <h4 class="color_red">Only registered user can buy item!</h4>
    {% elseif SESSION_id %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm">Buy right
            now
        </button>

        {% if SESSION_rank >= 8 %}
            <a class="btn btn-warning" id="tree_edit" href="#">Edit item</a>
        {% endif %}
    {% endif %}
    </div>
</div>

{# ========== buy item confirm modal #}

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center" id="gridSystemModalLabel">Confirm the action</h4>
            </div>
            <br>
            <div align="center" style="user-select: none;"><h4>Amount:
                    <span id="arrow_left" class="glyphicon glyphicon-menu-left arrow"></span>
                    <b id="sum">1</b>
                    <span id="arrow_right" class="glyphicon glyphicon-menu-right arrow"></span></h4></div>
            <br>
            <button id="item_buy" class="btn btn-primary center-block" sum="1" value="">Add to my
                basket
            </button>
            <br>
        </div>
    </div>
</div>
</div>