#content {
    padding-top: 50px;
}

.footer {
    color: white;
    position: fixed;
    bottom: 0px;
    background-color: #2E2E2E;
    font-size: 12px;
    width: 100%;
}

.error h1 {
    color: red;
    text-align: center;
}

.error h2 {
    color: darkred;
    text-align: center;
}

.ordertable tr td{
    padding: 5px;
}

.modal {
    padding-top: 10%;
}

.basket_row {
    background-color: lightgrey;
}

.baskettable tr td{
    padding: 5px;
}

.price {
    font-weight: bold;
    color: darkred;
}

.color_red {
    color: red;
}
.color_green {
    color: green;
}